Config {
   -- appearance
	font = "xft:Mononoki:pixelsize=11"
   -- , bgColor = "#282828"
   -- , fgColor = "#85c4fd"
   , bgColor = "#282828"
   , fgColor = "#b16286"
   , position = TopSize L 100 24
   
     -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " %UnsafeStdinReader% }{ <box type=Bottom width=2 mb=2 color=#b16286><fc=#b16286> %default:Master% </fc></box>      <box type=Bottom width=2 mb=2 color=#d3869b><fc=#d3869b> %mpris2% </fc></box>      <box type=Bottom width=2 mb=2 color=#458588><fc=#458588> %memory% </fc></box>      <box type=Bottom width=2 mb=2 color=#b8bb26><fc=#b8bb26> %multicpu% </fc></box>      <box type=Bottom width=2 mb=2 color=#d79921><fc=#d79921> %date% </fc></box>"
     -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

	-- commands
   , commands =
   		[
	-- music
	Run Mpris2 "spotify" ["-t", "<artist> - <title>"] 10
        -- cpu activity monitor
        , Run MultiCpu       [ "--template" , "Cpu: <total>%"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "#458588"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 10

        -- memory usage monitor
        , Run Memory         [ "--template" ,"Mem: <usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "#458588"
                             , "--normal"   , "darkorange"
                             , "--high"     , "darkred"
                             ] 10

        -- battery monitor
        , Run Battery        [ "--template" , "Batt: <acstatus>"
                             , "--Low"      , "10"        -- units: %
                             , "--High"     , "80"        -- units: %
                             , "--low"      , "darkred"
                             , "--normal"   , "darkorange"
                             , "--high"     , "#458588"
                             
                             , "--" -- battery specific options
                             
                                       -- discharging status
                                       , "-o"	, "<left>% (<timeleft>)"
                             
                                       -- AC "on" status
                                       , "-O"	, "<fc=#dAA520>Charging</fc>"

                                       -- charged status
                                       , "-i"	, "<fc=#458588>Charged</fc>"
                             ] 50

        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "%F (%a) %T" "date" 10

        -- , Run Com "pamixer" ["--get-volume"] "volume" 10

	-- Audio
	, Run Volume "default" "Master" ["--template", "Vol: <volume>%"] 10

	-- worspaces
	, Run UnsafeStdinReader
        
        ]
}
