Config {
	font = "xft:FiraCode Nerd Font 12"
	, bgColor = "#282828"
	, fgColor = "#b16286"
	, position = TopSize L 100 24

	, sepChar =  "%"   -- delineator between plugin names and straight text
	, alignSep = "}{"  -- separator between left-right alignment
	, template = " %StdinReader% }{ <box type=Bottom width=2 mb=2 color=#d3869b><fc=#d3869b> Vol: %volume% </fc></box>    <box type=Bottom width=2 mb=2 color=#458588><fc=#458588> %memory% </fc></box>    <box type=Bottom width=2 mb=2 color=#b8bb26><fc=#b8bb26> %multicpu% </fc></box>    <box type=Bottom width=2 mb=2 color=#d79921><fc=#d79921> %date% </fc></box> "
	, lowerOnStart =     False
	, hideOnStart =      False
	, overrideRedirect = False
	, persistent =       True


	, commands =
	[
		Run MultiCpu       [ "--template" , "Cpu: <total>%"
				     , "--Low"      , "50"         -- units: %
				     , "--High"     , "85"         -- units: %
				     , "--low"      , "#458588"
				     , "--normal"   , "darkorange"
				     , "--high"     , "darkred"
				     ] 10

		, Run Memory         [ "--template" ,"Mem: <usedratio>%"
				     , "--Low"      , "20"        -- units: %
				     , "--High"     , "90"        -- units: %
				     , "--low"      , "#458588"
				     , "--normal"   , "darkorange"
				     , "--high"     , "darkred"
				     ] 10

		, Run Battery        [ "--template" , "Batt: <acstatus>"
				     , "--Low"      , "10"        -- units: %
				     , "--High"     , "80"        -- units: %
				     , "--low"      , "darkred"
				     , "--normal"   , "darkorange"
				     , "--high"     , "#458588"
				     
				     , "--" -- battery specific options
				     
					       -- discharging status
					       , "-o"	, "<left>% (<timeleft>)"
				     
					       -- AC "on" status
					       , "-O"	, "<fc=#dAA520>Charging</fc>"

					       -- charged status
					       , "-i"	, "<fc=#458588>Charged</fc>"
				     ] 50

		, Run Date           "%d-%m-%Y | %T" "date" 10

		, Run Com "pamixer" ["--get-volume"] "volume" 10

		, Run StdinReader

	]
}
